/*
    ----------------------------------------------------------------------
    ----------  /jquery.antonydev.tech/  ---------------------------------
    ----------  /01-udemy/  ----------------------------------------------
    ----------  /07-jquery-in-action-build-20-jquery-projects/  ----------
    ----------  /src/styles/components/layout/  --------------------------
    ----------  /layout-header.css  --------------------------------------
    ----------------------------------------------------------------------
*/


.layout__header {
    min-width: 100%;
    display: flex;
}


/*
    ---------------------------
    -----  Layout Header  -----
    ---------------------------
*/

.header__container {
    width: 100vw;
    min-height: 30rem;
    position: relative;
    z-index: 100;
    padding: 2rem;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;

    /*  -----  background  -----  */
    background-color: var(--bg-white);
    background-image: var(--bg-grid-pattern-header);
    background-size: var(--bg-grid-size-48x48);
    background-repeat: var(--bg-grid-repeat);

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1400px) {

    .header__container {
        display: grid;
        grid-template-columns: 35rem auto 35rem;
        column-gap: 5rem;
        padding: 5rem;
    }
}


/* 
    -----------------------------------------------------------------
    -----  Contenedor de los Logos y Banners de jQuery y Cursos -----
    -----------------------------------------------------------------  
*/

.header__container-icons-logos {
    height: 20rem;
    /* background-color: antiquewhite; */
    position: relative;
    display: grid;
    gap: 2rem;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {

    .header__container-icons-logos {
        width: 80%;
        height: 10rem;
        display: flex;
        justify-content: space-around;
    }
}


@media (min-width: 1400px) {

    .header__container-icons-logos {
        height: 20rem;
        flex-direction: column;
    }
}


/*
    --------------------------------------------------------------------
    -----  Contenedor de los Icons y Logos de jQuery y jQuery UI -----
    --------------------------------------------------------------------
*/

.container-icons-logos__jquery,
.container-icons-logos__jquery-ui {
    width: 100%;
    /* background-color: azure; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}


/*
    ------------------------------------------------
    -----  Icons y Logos de jQuery y jQuery UI -----
    ------------------------------------------------
*/

.jquery__icon-logo,
.jquery-ui__icon-logo {
    display: inline-flex;
    gap: 2rem;
    /* justify-content: center;
    align-items: center;
    gap: 2rem; */
}

.jquery-logo,
.jquery-ui-logo {
    width: 10rem;
    aspect-ratio:  4 / 1;
    mix-blend-mode: multiply;
    transition: all 300ms ease-in-out;
}

.jquery-icon,
.jquery-ui-icon,
.github-icon {
    width: 2rem;
    aspect-ratio: 1 / 1;
    transition: all 300ms ease-in-out;
}

.github-icon {
    margin-right: 3rem;
}

.jquery-logo:hover,
.jquery-ui-logo:hover,
.jquery-icon:hover,
.jquery-ui-icon:hover,
.github-icon:hover {
    transform: scale(1.1);
}


@media (min-width: 768px) {

    .jquery-logo,
    .jquery-ui-logo {
        width: 12rem;
    }

    .jquery-icon,
    .jquery-ui-icon,
    .github-icon {
        width: 3rem;
    }

}


/*
    --------------------------------------------------------
    -----  Contenedor de los Logos de cursos de jQuery -----
    --------------------------------------------------------
*/

.container-logos__cursos {
    /* background-color: aqua; */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: auto;
}

.cursos__logos {
    width: 6rem;
    height: 6rem;
    mix-blend-mode: multiply;
    transition: all 300ms ease-in-out;
    border-radius: 10px;
}

.cursos__logos:hover {
    transform: scale(1.1);
}


.cursos__logos--jquery-books {
    width: 8rem;
    aspect-ratio: 2 / 1;
    /* border-radius: 100%; */
}

.cursos__logos--jquery-manuales {
    width: 8rem;
    aspect-ratio: 2 / 3;
    /* border-radius: 100%; */
}

/*
    ----------------------------------------------
    -----  Contenedor del Título del Header  -----
    ----------------------------------------------
*/

.header__container-title {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* padding: 2rem; */
    margin-bottom: 2rem;
    border-radius: 30px;
    text-align: center;
    /* background-color: aqua; */
    
}

.container__title-main,
.container__title-page {
    width: 100%;
    min-height: 3rem;
    padding: 1rem;
    border-radius: 30px;
    background-color: var(--bg-light);
    background-image: var(--bg-grid-light);
    
    box-shadow: 10px 10px 10px rgb(209, 220, 235);
}

.container__title-main {
    background-color: var(--bg-light);
    background-size: 40px 40px;
}



/*  -----  Título del Header  -----  */
.header__title-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    color: var(--color-primary);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.header__title-page {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--bg-light);
    color: var(--color-main-title);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {

    .header__title-main {
        font-size: 2.8rem;
    }

    .header__title-page {
        font-size: 2rem;
    }

}

@media (min-width: 1024px) {

    .header__title-main {
        font-size: 3rem;
    }

    .header__title-page {
        font-size: 2.4rem;
    }

}
